@{
    Layout = null;
}
<link href="~/css/login.css" rel="stylesheet" />
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" />


<div class="row">
    <div class="col-md-6 mx-auto p-0">
        <div class="card">
            <div class="login-box">
                <div class="login-snip">
                    <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Forget Password</label>
                    <input id="tab-2" type="radio" name="tab" class="sign-up" style="display:none"><label style="display:none" for="tab-2" class="tab">Sign Up</label>

                    <div class="login-space">
                        @if (ViewBag.Message != null)
                        {
                            <h6 class="text-success">@ViewBag.Message.ToString()</h6>
                        }

                        <div class="login">
                            <form asp-action="ForgetPassword" asp-controller="Account" method="post">
                                <div class="group">
                                    <label class="label">Email</label>
                                    <input  name="email"  type="email" class="input" value="" autocomplete="off" placeholder="Enter your email">
                                </div>
                                
                                <div class="group">
                                    <input type="submit" class="button" value="Submit">
                                </div>
                                
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


